*
!/doc
!/doc/**
!/var
!/var/www
!/var/www/html
!/var/www/html/adminer
!/var/www/html/adminer/*
!/var/www/html/modules
!/var/www/html/modules/ccl_**
!/var/www/html/lang
!/var/www/html/lang/es.lang
!/etc
!/etc/odbc.ini
!/etc/odbcinst.ini
!/etc/asterisk
!/etc/asterisk/extensions_custom.conf
!/etc/asterisk/func_odbc.conf
!/etc/asterisk/res_odbc_custom.conf
!/etc/asterisk/contextos.conf
!/etc/asterisk/ccl_ligero.conf
!/etc/asterisk/extensions_override_elastix.conf
!/etc/cron.d
!/etc/cron.d/ccl_ligero.cron
!/usr
!/usr/local
!/usr/local/sbin
!/usr/local/sbin/ccl_logout_forzado.php
!/usr/local/sbin/ccl_ligero
!/usr/local/sbin/ccl_ligero/**
!/etc/rc.d
!/etc/rc.d/rc.local
!/var/lib
!/var/lib/asterisk
!/var/lib/asterisk/sounds
!/var/lib/asterisk/sounds/ccl_ligero
!/var/lib/asterisk/sounds/ccl_ligero/**